body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0a994f, #39e494);
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  color: #0a994f;
}

form input, form select, form textarea, form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #0a994f;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #067e42;
}

.success {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #0a994f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
